*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face{
  src: url('../fonts/Nunito-Regular.ttf');
  font-family: my-Regular;
}

body{
  font-size: 4rem;
}

.container{
  height: 160px;
  background-color: rgb(34, 111, 212);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 9px 15px rgba(0,0,0,.4);
}

.menu-bar{
  height: 70px;
  width: 80px;
  top: 45px;
  position: absolute;
  right: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#brand{
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  font-family: my-Regular;
  letter-spacing: 9px;
  margin-top: 25px;
  margin-left: 25px;
}
.menu-bar div{
  height: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}


// menu slider
.menu-slider-bg{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(12, 12, 12,.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  transition: .4s;
}

.menu-slider{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 0;
  height: 100%;
  box-shadow: 5px 0 60px rgba(0, 0, 0,.6);
  z-index: 200;
  transition: .4s;
}

.slider-menu-list{ 
  list-style: none;
  margin-left: -300px;
  transition: .4s;
  li{
    font-family: my-Regular;
    font-size: 3.3rem;
    padding: 40px;
    padding-left: 80px;
    &:hover{
      background-color:rgb(34, 111, 212);
      color: #fff;
    }
  }
}

.content{
  margin: 50px;
  max-height: 650px;
  overflow: hidden;
  .img{
    background-size: cover;
    height: 495px;
    background-position: center center;
    background-color: rgb(199, 233, 255);
    color: rgb(73, 73, 73);
    .loading{
      height: 100px;
      width: 100px;
      border-radius: 100%;
      background-color: rgba(199, 233, 255,.0);
      border: 10px solid rgb(34, 111, 212);
      border-right-color:  rgba(199, 233, 255,.0);
      animation: sping 1s infinite;
      margin: auto ;
      z-index: 3;
    }
  }
  p{
    font-size: 3.5rem;
    font-family: my-Regular;
  }
}
@keyframes sping{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}